<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gramairefacile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".activities.InterrogationActivity"
            android:label="@string/title_activity_interrogation"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".activities.ConjonctionActivity"
            android:label="@string/title_activity_conjonction"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.LesAdjectifActivity"
            android:label="@string/title_activity_les_adjectif"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Quizlv1Activity"
            android:label="@string/title_activity_quizlv1"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".LesArticleActivity"
            android:label="@string/title_activity_lam1"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".LesPronomActivity"
            android:label="@string/title_activity_lpm1"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.LesVerbesMateriActivity"
            android:label="@string/title_activity_lvm1"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.RegularVerbActivity"
            android:label="@string/title_activity_regular_verb"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activities.LesArticlesActivity" />
        <activity android:name=".activities.LesPronomActivity" />
        <activity android:name=".activities.CreditActivity" />
        <activity
            android:name=".activities.LesVerbesActivity"
            android:label="@string/title_activity_les_verbes"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.MenuAwalActivity"
            android:label="@string/title_activity_menuawal"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>