<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gramairefacile">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MenuAwalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.LesVerbesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />

        <!-- Refactor code -->
        <activity
            android:name=".activities.LesAdjectifMateriActivity"
            android:label="@string/title_activity_les_adjectif_materi" />
        <activity
            android:name=".activities.LesPronomMateriActivity"
            android:label="@string/title_activity_les_pronom_materi" />
        <activity
            android:name=".activities.LesArticleMateriActivity"
            android:label="@string/title_activity_les_article_materi" />
        <activity
            android:name=".activities.InterrogationMateriActivity"
            android:label="@string/title_activity_interrogation" />
        <activity
            android:name=".activities.ConjonctionMateriActivity"
            android:label="@string/title_activity_conjonction" />
        <activity
            android:name=".activities.LesAdjectifActivity"
            android:label="@string/title_activity_les_adjectif" />
        <activity
            android:name=".activities.QuizLvActivity"
            android:label="@string/title_activity_quizlv1" />
        <activity
            android:label="@string/title_activity_lvm1"
            android:name=".activities.LesVerbesMateriActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activities.RegularVerbActivity"
            android:label="@string/title_activity_regular_verb" />
        <activity android:name=".activities.LesArticlesActivity" />
        <activity android:name=".activities.LesPronomActivity" />
        <activity android:name=".activities.CreditActivity" />
    </application>

</manifest>